/*
h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
*/
body{
  margin: 0%;

}




/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;

  background-repeat: no-repeat;
}


/*--------------------intro page------------------*/
.intro_page h1{
  color: white;
  font-size: 4em;
  font-family: Franklin Gothic Medium;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 600px;
  position: absolute;
  padding: 25%;
  
}

.intro_page p{
  color: white;
  font-size: 2em;
  font-family: Franklin Gothic Medium;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 600px;
  position: absolute;
  padding: 28%;
  
}






/* -----------------------my profile photo *-----------------------*/

.myprofile{
  
  height: 20%;
  width: 20%;

}

