/*
h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
*/
body{
  margin: 0%;
  
}


.navbar{
  background-color: transparent;
  height: 5vh;
  width: 100%;
  position: fixed;
  border-bottom: 3px solid #04c2c9;
 
    

    
}

.home{
  display: inline;
  font-size: initial;
  margin: 0 20px;
  padding: 0;
  cursor: pointer;
    font-size: 12pt;
    
    
    text-transform: uppercase;
    transition: color 0.5s;
}

.whoami{
  display: inline;
  font-size: initial;
  margin: 0 20px;
  padding: initial;

}

.skill{
  display: inline;
  font-size: initial;
  margin: 0 20px;
  padding: initial;
}

.contact_me{
  display: inline;
    font-size: initial;
    margin: 0 20px;
    padding: initial;
}



/* ---- particles.js container ---- */



#particles-js{
  width: 100%;
  height: 100vh;
  background-color: #555555;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  
}


/*--------------------intro page------------------*/
.intro_page p{
  color:white;
  font-size: 4vw;
  font-family:'Merriweather', serif;
  left: 0;
  right: 0;
  margin: 0 auto;
  
  position: absolute;
  bottom: 52%;  
}
.intro_page h1{
  color:white;
  font-size: 2vw;
  font-family:'Merriweather', serif;
  left: 0;
  right: 0;
  margin: 0 auto;
  
  position: absolute;
  bottom: 47%; 
}

/*
.para p{
  color: #04c2c9;
  font-size: 3em;
  font-family: Franklin Gothic Medium;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 600px;
  position: absolute;
  bottom: 20%;
}
/*
.para p:hover{
  color: #04c2c9;
  
}
*/

/* -----------------------my profile photo *-----------------------*/

.aboutme{
  margin-top: 10px;
  background-color: antiquewhite;
  height: 856px;
  width: 100%;
  
}

.photo{
  height: auto;
  width: 45.5%;
  float: left;
}

/*
.overlay {
  
  position: absolute;
  height: 92%;
  width: 45.5%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.contain:hover .overlay {
  opacity: 0.7;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
*/


.whoiswala p{
  color: black;
  font-size: 6em;
  font-family: Franklin Gothic Medium;
  float: left;
  margin-top: 20px;
  margin-bottom: auto;
  padding-top: 3%;
  padding-left: 7%;

}



.myinfo p{
  color:green;
  background-color: antiquewhite;
  font-size: 1.4em;
  font-family: Franklin Gothic Medium;
  
  float: left;
  padding: 4%;
  
  margin:0 auto;
  text-align: center;
  
  
  width: 40%;
  
  
}





.skills{
  margin-top: 10px;
  background-color: blue;
  height:100vh;
  width: 100%;
}


.secondpart{
  margin: 0%;
  
}
